/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
  }
  
  body {
    background-color: #F9D0A3;  /* Beige clair */
    color: #151217;  /* Noir foncé */
  }
  
  /* Styles pour le nav */
  nav {
    background-color: #FDD90B;  /* Jaune */
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #DA001E;  /* Ligne rouge en bas */
  }
  
  nav a {
    font-size: 18px;
    text-decoration: none;
    color: #151217;  /* Noir foncé */
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: #DA001E;  /* Rouge */
    color: white;  /* Texte blanc */
  }
  
  nav a.active {
    background-color: #151217;  /* Noir foncé */
    color: #FDD90B;  /* Jaune */
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    nav {
      padding: 10px;
    }
  
    nav a {
      font-size: 16px;
      margin: 0 10px;
      padding: 8px 15px;
    }
  
    router-outlet {
      padding: 15px;
    }
  }
  /* Section présentation */
.presentation {
    text-align: center;
    background-color: #FDD90B; /* Jaune */
    color: #151217; /* Noir foncé */
    padding: 40px 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #DA001E; /* Rouge */
  }
  
  .presentation h1 {
    font-size: 32px;
    font-family: 'Bubbleboddy neue', sans-serif;
    margin-bottom: 10px;
  }
  
  .presentation p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
  }
  